/* Giving Body a Background Color*/
body {
  margin: 0;
  background-color: #232323;
  font-family: "Tahoma";
}
#cards-container {
  width: 75%;
  /*Margin Auto is used in the parent element to center align child elements*/
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards {
  width: 22%;
  margin: 1.5%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}
.cardsFour {
  width: 22%;
  margin: 1.5%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}
.cardsThree {
  width: 30%;
  margin: 1.66%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}
.cardsFive {
  width: 17.5%;
  margin: 1.0%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}
.cardsEight {
  width: 11.5%;
  margin: 0.5%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}
.cover {
  width: 100%;
  /*Padding bottom is added to create space otherwise nothing will be displayed since all the divs are empty;
  67% is roughly the height of the images*/
  padding-bottom: 67%;
  background-color: blanchedalmond;
  border-radius: 5%;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  display: none;
}

h1 {
  color: whitesmoke;
  width: 100%;
  text-align: center;
  background-color: steelblue;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  padding-bottom: 0.8%;
  padding-top: 0.8%;
  line-height: 1.1;
  transition: background-color 0.75s;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
}
.stripe {
  width: 100%;
  height: 30px;
  /*margin: auto; This property only work on divs not on text and button*/
  background: whitesmoke;
  text-align: center;
}

#message {
  /*To Create Space in inline element first make it inline-block*/
  display: inline-block;
  /*now you have to set the width to get the space*/
  width: 37%;
  margin-left: 0%;
}

.selected {
  background-color: steelblue;
  color: whitesmoke;
}
.moves {
    background-color: steelblue;
    color: whitesmoke;
    text-transform: capitalize;
  }
button {
  height: 100%;
  border: none;
  color: steelblue;
  background-color: whitesmoke;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  /*ouline apears when a button is selected and its by default from the broweser*/
  outline: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
button:hover {
  background-color: steelblue;
  color: whitesmoke;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 100;
  opacity: 1;
}
.header.sticky {
  position: fixed;
  top: 0;
  opacity: 0.80;
}
